   <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
 <div class="containter">
        <div class="left">
            {{#article}}
            <div class="article">
                <div class="inner">
                    <a id="title" href=""><h2>{{blog_title}}</h2></a>
                    <p class="content">
                    {{{blog_content}}}
                    </p>
                    <span class="time"><i class="time-icon"></i>{{write_date}}</span>
                </div>
                <a href="/{{blog_tag_url}}" class="tag"><i class="tag-tri"></i><span class="tag-div"><i class="point"></i>{{blog_tag}}</span></a>
            </div>
            {{/article}}
        </div>
        <div style="position:fixed;width:300px;height:100%;overflow:hidden;right:0;">
            <div id="picLoop" class="right">
                <div class="shade"></div>
                <div class="per-img-box">
                    <div class="placeholder">
                        <a href="/" class="headpic">
                            <img src="img/per.jpg" alt="">
                        </a>
                    </div>
                    <h1 class='author'>Convert</h1>
                </div>
                <div id="changeBtn" class="gobtn">目录</div>
            </div>
            <div id='List' class="right2">
                <span id="goBack" class="goback"></span>
                <div class="today">
                    Today:<span id="today"></span>
                </div>
                <div class="r-item comeon">岁月不饶人啊!  小伙子，好好敲代码，主席看好你！</div>
                <div class="r-item">
                    <h3>标签</h3>
                    <ul>
                        <a href="life"><li>生活</li></a>
                        <a href="tech"><li>技术</li></a>
                    </ul>
                </div>
                <div class="r-item">
                    <h3>最新文章</h3>
                    <ul>
                        {{#article}}
                        \{{#compare @index '<' 4}}
                        <a href=""><li>{{blog_title}}</li></a>
                        \{{/compare}}
                        {{/article}}
                    </ul>
                </div>
                <a class="login" href="/write">login&rarr;</a>
            </div>
        </div>
    </div>
    <script>
        Handlebars.registerHelper('compare', function(left, operator, right, options) {
         if (arguments.length < 3) {
           throw new Error('Handlerbars Helper "compare" needs 2 parameters');
         }
         var operators = {
           '==':     function(l, r) {return l == r; },
           '===':    function(l, r) {return l === r; },
           '!=':     function(l, r) {return l != r; },
           '!==':    function(l, r) {return l !== r; },
           '<':      function(l, r) {return l < r; },
           '>':      function(l, r) {return l > r; },
           '<=':     function(l, r) {return l <= r; },
           '>=':     function(l, r) {return l >= r; },
           'typeof': function(l, r) {return typeof l == r; }
         };

         if (!operators[operator]) {
           throw new Error('Handlerbars Helper "compare" doesn\'t know the operator ' + operator);
         }

         var result = operators[operator](left, right);

         if (result) {
           return options.fn(this);
         } else {
           return options.inverse(this);
         }
     });
    </script>
  